{{/*高架床*/}}
<div class="panel-body">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-content " style="border: none !important;">
                <form role="form" class="form-inline form-horizontal" id="high_bad">
                    <div class="row col-md-12" style="margin-bottom: 1rem;" id="high_bad_1">
                        <div class="input-group col-md-4">
                            <input type="text" class="form-control" placeholder="输入寬度" oninput = "value=value.replace(/[^\d.]/g,'')" id="high_width_1">
                            <div class="input-group-append">
                                <select class="form-control" style="height: 2.2rem !important;" id="high_select_width_1">
                                    <option value="4"  selected>/尺</option>
                                    <option value="3">/寸</option>
                                    <option value="2">/厘米</option>
                                    <option value="1">/毫米</option>
                                </select>
                            </div>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="input-group col-md-4">
                            <input type="text" class="form-control" placeholder="输入长度" oninput = "value=value.replace(/[^\d.]/g,'')" id="high_length_1">
                            <div class="input-group-append">
                                <select class="form-control" style="height: 2.2rem !important;" id="high_select_length_1">
                                    <option value="4"  selected>/尺</option>
                                    <option value="3">/寸</option>
                                    <option value="2">/厘米</option>
                                    <option value="1">/毫米</option>
                                </select>
                            </div>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="input-group col-md-3">
                            <label>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">高度&nbsp;&nbsp;&nbsp;</font>
                                </font>
                            </label>
                            <select class="form-control m-b" style="height: 2.2rem !important;" id="high_high_1">
                                {{range .high}}
                                    <option value="{{.Price}}">{{.HighMm}}毫米/{{.HighCm}}厘米/{{.HighIn}}寸/{{.HighCi}}尺</option>
                                {{end}}
                            </select>
                        </div>
                        <i class="fa fa-times" style="font-size: 20px;line-height: 2.2rem" onclick="delHighInput(1)"></i>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <a class="btn btn-primary btn-rounded btn-block col-md-5" href="#" style="margin: 0 auto;" onclick="addHighBad();">
                <i class="fa fa-info-circle"></i>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;"> 添加表单</font>
                </font>
            </a>
        </div>
    </div>
</div>
<input type="hidden" id="high_num" value="2">
<input type="hidden" id="high_price" value="0">
<script>
    function addHighBad() {
        let num = parseInt($("#high_num").val());
        let str = '<div class="row col-md-12" style="margin-bottom: 1rem;" id="high_bad_'+ num +'">\n' +
            '                        <div class="input-group col-md-4">\n' +
            '                            <input type="text" class="form-control" placeholder="输入寬度" oninput = "value=value.replace(/[^\\d.]/g,\'\')" id="high_width_'+ num +'">\n' +
            '                            <div class="input-group-append">\n' +
            '                                <select class="form-control" style="height: 2.2rem !important;" id="high_select_width_'+ num +'">\n' +
            '                                    <option value="4"  selected>/尺</option>\n' +
            '                                    <option value="3">/寸</option>\n' +
            '                                    <option value="2">/厘米</option>\n' +
            '                                    <option value="1">/毫米</option>\n' +
            '                                </select>\n' +
            '                            </div>\n' +
            '                        </div>\n' +
            '                        &nbsp;&nbsp;&nbsp;&nbsp;\n' +
            '                        <div class="input-group col-md-4">\n' +
            '                            <input type="text" class="form-control" placeholder="输入长度" oninput = "value=value.replace(/[^\\d.]/g,\'\')" id="high_length_'+ num +'">\n' +
            '                            <div class="input-group-append">\n' +
            '                                <select class="form-control" style="height: 2.2rem !important;" id="high_select_length_'+ num +'">\n' +
            '                                    <option value="4"  selected>/尺</option>\n' +
            '                                    <option value="3">/寸</option>\n' +
            '                                    <option value="2">/厘米</option>\n' +
            '                                    <option value="1">/毫米</option>\n' +
            '                                </select>\n' +
            '                            </div>\n' +
            '                        </div>\n' +
            '                        &nbsp;&nbsp;&nbsp;&nbsp;\n' +
            '                        <div class="input-group col-md-3">\n' +
            '                            <label>\n' +
            '                                <font style="vertical-align: inherit;">\n' +
            '                                    <font style="vertical-align: inherit;">高度&nbsp;&nbsp;&nbsp;</font>\n' +
            '                                </font>\n' +
            '                            </label>\n' +
            '                            <select class="form-control m-b" name="account" id="high_high_'+ num +'">\n' +
            '                                {{range .high}}\n' +
            '                                <option value="{{.Price}}">{{.HighMm}}毫米/{{.HighCm}}厘米/{{.HighIn}}寸/{{.HighCi}}尺</option>\n' +
            '                                {{end}}\n' +
            '                            </select>\n' +
            '                        </div>\n' +
            '                       <i class="fa fa-times" style="font-size: 20px;line-height: 2.2rem" onclick="delHighInput('+ num +')"></i>'+
            '                    </div>';
        $("#high_bad").append(str);

        $("#high_num").val(num+1);

    }

    //删除指定表单
    function delHighInput(n) {
        let num = 0;
        for (let i = 1; i < 50; i++) {
            if($("#high_bad_"+i).length > 0) {
                num ++;
            }
        }
        if (num > 1) {
            let div = document.getElementById("high_bad_"+n);
            let parent = div.parentNode;
            parent.removeChild(div);
        }
    }

    function highPrice() {
        $("#high_price").val(0);
        let html = '';
        for (let i = 1; i < 50; i++) {
            if($("#high_width_"+i).length > 0 && $("#high_length_"+i).length > 0) {
                let l = $("#high_width_"+i).val();
                let w = $("#high_length_"+i).val();
                let unit = $("#high_select_width_"+i).val();
                let unit1 = $("#high_select_length_"+i).val();
                let price = $("#high_high_"+i).val();
                let long = lengthToCi(l,unit);
                let width = lengthToCi(w,unit1);
                let area_high = Math.round(long * width);
                if (area_high < 18) {
                    area_high = 18
                }
                if (Number(l)> 0 && Number(w) > 0) {
                    let high_price = (area_high * price).toFixed(2);
                    let str = '<p>高床:长' + Math.round(long) + '尺 * 寬' + Math.round(width) + '尺 * 單價' + Math.round(price) + ' = ' + Math.round(high_price) + '港幣左右<\p>';
                    html += str + '\n';
                    let m = $("#high_price").val();
                    $("#high_price").val(Number(m) + Number(high_price));
                }
            }
        }
        if (html != '') {
            return html;
        } else {
            return false;
        }
    }


</script>